hydra.private.json
src/ui/node_modules
src/hydraplay/server/static/player

snapweb/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

.idea/
.github/act/my.secrets
.DS_Store
.github/scripts/build-rpi-os/pi-gen
