version: "3.5"
services:
  hydraplay:
    # use platform linux/amd64 if you are running on apple siclicon ( ! requires rosetta ! )
    platform: linux/amd64
    privileged: true
    image: mariolukas/hydraplay:latest
    container_name: hydraplay
    ports:
      - 8080:8080
      - 1780:1780
      - 1704:1704
      - 1705:1705
      - 6680-6690:6680-6690
    volumes:
       # mount src folder for development
       #- ./src/:/app/hydraplay
       - ./hydra.private.json:/tmp/hydra.config.json
