@import 'mixins';


.no-clients{
  text-align: center;
  margin-top: 2em;
  color: white;
  width: 100%;
}

.fill-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.player-pagination{
    text-align: center;
    width: 100%;
}

.viewport{
    @include desktop{
      display: flex;
      flex-wrap: wrap;
    }
}

.app {
  text-align: center;
 // overflow-y:hidden;
}

.controllers {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}