

.viewport{
     height:auto;
    max-height:150%;
    overflow:auto;
}

.app {
  text-align: center;
  overflow-y:hidden;
}

.controllers {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}