@import "mixins";

.playlist-selection {
  overflow: auto;

  @include xs-phone-portrait {
    height: 45vh;
  }

  @include xm-phone-portrait{
    height: 48vh;
  }

  @include xl-phone-portrait{
    height: 55vh;
  }

  @include desktop{
    height: 49vh;
  }

}