@import "mixins";

.player-control {

  .cover-art{
    @include xs-phone-portrait{
        width: 80%;
        margin: 1em auto;
    }

    @include xm-phone-portrait{
         width: 80%;
         margin: 1em auto;
    }

    width: 95%;

  }

  .seekbar-wrapper{
    display: flex;
  }

  .seekbar-time, .seekbar {
    min-width: 0
  }

  .seekbar-time { flex: 0 35px }

  .seekbar {
    flex: 0 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
  }

  .track-info {



    @include xl-phone-portrait{
        .mat-card-image{
          //margin: 0 -16px 0px -16px;
          margin: 0 auto;
        }
    }

    .mat-card-image{
      margin: 0 auto;
    }

    .title {
      text-align: center;
      background-color: #575656;
      color: white;
      padding: 0.4em;
      padding: 5px;
      opacity: 70%;

      @include  xm-phone-portrait{
        margin-top: -3em;
        position: relative;
        opacity: 100%;
      }

      @include xs-phone-portrait{
        margin-top: -6em;
        position: relative;
      }

    }

    h4 {
      font-size: 30px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 1em;
      margin-top:0.3em;
    }

    h5 {
      font-size: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 0.3em;
      margin-left: 1em;
    }
  }

  .controls {

    @include desktop{
       margin-top: 2.3em;
    }
   //
    text-align: center;
    font-size: 20px;

     margin-top: 1.1em;

    .previous-track-button {
      margin: 0px 15px;
      transform: scale(1.2);
      top: 8px;
    }

    .next-track-button {
      margin: 0px 15px;
      transform: scale(1.2);
      top: 8px;
    }

    .playback-option {
      transform: scale(0.9);
      margin: 0px 15px;
      top: 8px;
    }

    .mat-slider {
      width: 190px;
    }

    .volume {
    //  margin-top: 15px;

      mat-icon {
        top: 8px;
      }

      .mute {
        margin-right: 10px;
      }

      .up {
        margin-left: 15px;
      }

    }
  }
}

.repeatIsActive {
  color: #03DAC6;
}

.randomIsActive {
  color: #03DAC6;
}