.tune-volumes{
    height: 480px;

    .volume-slider-list{
      height: 360px;

    }

    ng-template{
      span{
        margin:1em;
      }
    }

    mat-list-item{
      height:50px;
      padding-top:1em;
      padding-bottom:1em;
    }

    mat-slider{
      width: 210px;
    }

    mat-icon{
      top: 8px;
    }
}

.tablabel{
  margin:1em;
}
