@use '@angular/material' as mat;

.media-control{
   height: 80%;
   justify-content: space-between;

   .mat-form-field{
      display: block;
   }

   .source-filter{
      z-index: 1000;
      //width: 306px;
      background: #424242;
      @include mat.elevation(2);
   }

   .source-filter hide{
      display: none;
   }

   .extension-checkbox{
      margin-left: 10px;
   }

   .search-list{
      height: 340px;
      overflow: auto;
   }

   .search-result-label{
      text-align: right;
      margin-right: 15px;
      margin-top: 3px;
   }

   .search-form{
      margin-top: 10px;

      overflow-y:hidden;
   }

   mat-list-item-content{
      height: 55px;
   }

   .spinner{
      margin: 120px auto;
   }

   .filter-icon{
      float:left;
      margin-left: 8px;
      margin-right: 8px;
      margin-top: -2px;
   }
   .filter-open{
      float: right;
      font-size: 30px;
      margin-right: 8px;
      margin-top: -2px;
   }
}

