<mat-divider></mat-divider>
<div class="media-control">
  <div class="search-input-field">
    <mat-form-field appearance="fill" class="search-form">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>Search for Music...</mat-label>
      <input [(ngModel)]="searchString" matInput #searchBox (change)="search(searchBox.value)" autocomplete=“off” type="text" >
     <!-- <button *ngIf="searchString" matSuffix mat-icon-button aria-label="Clear" (click)="searchString=''">
        <mat-icon>close</mat-icon>
      </button>-->
    </mat-form-field>
  </div>
   <mat-spinner *ngIf="waitingForResults" class="spinner" [diameter]="50"></mat-spinner>
   <app-search-result-list [results]="searchResult" [group]="group"></app-search-result-list>
   <div class="search-result-label" *ngIf="!waitingForResults && searchString">{{searchResult.length}} Results</div>
</div>
