@import "mixins";

.search-list{

  overflow: auto;
  margin-top: 1em;
  @include xs-phone-portrait {
    height: 44vh;
  }

  @include xm-phone-portrait{
    height: 47vh;
  }

  @include xl-phone-portrait{
    height: 52vh;
  }

  @include desktop{
    height: 44vh;
  }
}


.disable-text-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.tracklist-item .mat-list-item-content{
  height: 55px !important; /* default is 72px */
  margin:0px;
}

.tracklist-options-menu{
  margin-left:20px;
}

.parent {
   width: 130px; /* I took the width from your post and placed it in css */
   height: 130px;
}

/* This will style any <img> element in .parent div */
.parent img {
   height: 100%;
   width: 100%;
}

.track-item .card{
  width: 130px;
  height: 140px;
  background-color:green;
}

.streamModal .playlist {
  cursor: pointer;
  display:inline-block;
  z-index:15;
  padding: 3px;
}

.playlist .trackCover {
  width: 130px;
  display:inline-block;
  margin:5px;
}

.streamModal .playlist .trackInformation {
  color:#717171;
}
