@import "mixins";

.dialog-card{
  margin-top: 50px;
}

.dialog-card-header{
  text-align: center;
  margin-bottom: 20px;
}

.save-track-list-from{
  width: 100%;
  margin-top: 30px;
}

.track-list{
  overflow: auto;

  @include xs-phone-portrait {
    height: 45vh;
  }

  @include xm-phone-portrait{
    height: 48vh;
  }

  @include xl-phone-portrait{
    height: 55vh;
  }

  @include desktop{
    height: 45vh;
  }

}

.save-track-list{
    text-align:right;
}

.track-list-wrapper{
  overflow: hidden;
}

.track-list-actions{
  display: flex;
}

.track-list-action{
  flex: 1;
  flex-grow: 0;
}

.track-list-action:first-child{
    width: 100%;
    /*margin-right: 20px;*/
    flex-basis: 100%;
}