.media-library{
   mat-form-field{
      width: 305px;
   }

   .search-list{
      max-height: 390px;
      overflow: auto;
      max-width: 305px;
   }

   mat-list-item-content{
      height: 55px;
   }
}

