<mat-list-item class="track-item"  matRipple [matRippleRadius]="300" [matRippleCentered]="false" [matRippleUnbounded]="false">
  <p style="font-weight:bold; font-size:18px;" (dblclick)="loadPlayListAsTrackList(playlist.uri)" class="unselectable"  matLine> {{playlist.name}} </p>
    <div>
    <button (mousedown)="$event.stopPropagation()" align="end" [matMenuTriggerFor]="playlistMenu"  class="tracklist-options-menu" mat-icon-button>
        <mat-icon >more_vert</mat-icon>
    </button>
    <mat-menu #playlistMenu="matMenu" xPosition="before">
      <button (mousedown)="$event.stopPropagation()" mat-menu-item (click)="appendPlaylistToTrackList(playlist.uri)">
        <mat-icon>playlist_add</mat-icon>
        <span>Append to Tracklist</span>
      </button>
      <button (mousedown)="$event.stopPropagation()" mat-menu-item (click)="loadPlayListAsTrackList(playlist.uri)">
        <mat-icon>queue_music</mat-icon>
        <span>Load as Tracklist</span>
      </button>
      <button *ngIf="playlist.uri.includes('m3u')" (mousedown)="$event.stopPropagation()" mat-menu-item (click)="deletePlayList(playlist.uri)">
        <mat-icon>delete</mat-icon>
        <span>Delete Playlist</span>
      </button>
    </mat-menu>
  </div>
  <mat-divider></mat-divider>
</mat-list-item>