.owl-carousel .animated {
-webkit-animation-duration: 100ms;
animation-duration: 100ms;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

.mat-tab-body-content { overflow: unset;}

.center-vertically{
    display:flex;
    align-items: center;
}

.zone{
  width: 305px;
  height: 600px;
  margin:10px 5px;

  mat-card-header{
    margin-bottom:15px;
  }

  mat-card-title{
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .action-carousel{
    height: 480px;

  }

  .track-info{

    .title{
      text-align: center;
      position: relative;
      bottom: 88px;
      background-color: #383838c7;
      overflow: overlay;
      /* border-radius: 20px; */
      color: white;
      padding: 0.4em;
      margin: -16px;
      width:315px;
      padding:5px;
    }

    img{
      width: 337px !important;
      display: unset;
    }

    h4{
      font-size: 30px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 270px;
      margin-left: 20px;
    }

    h5{
      font-size: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 270px;
      margin-left: 20px;
    }
  }

  .zone-volume-sliders{
    margin-top:20px;
    mat-list-item{
      margin-bottom: 20px;
      div{
        div{
          float:left;
          margin-top:10px;
        }
      }
    }
  }

  .client-list{
    width:307px;
    height:400px;

    mat-list-option{
      div{
        display:flex;
        justify-content:space-between;
        align-items:center;
        div{
          display:flex;
          align-items:center;
          div{
            width: 210px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  .mat-tab-content{
    overflow: unset;
  }

  .footer {
    display: flex;
  }

  .footer .action{
    text-align: center;
    div{
      font-size:8px;
    }
  }

  .footer .action.active{
    mat-icon{
      color: #69f0ae;
    }

    div{
      color: #69f0ae;
    }
  }


  .footer.space-around {
    justify-content: space-around;
  }

  .footer.space-between {
    justify-content: space-between;
  }

  .controls {
    text-align:center;
    margin-top: -70px;
    height: 140px;
    font-size:20px;

    .previous-track-button{
      margin: 0px 30px;
      top: 8px;
    }

    .next-track-button{
      margin: 0px 30px;
      top: 8px;
    }

    .mat-slider{
      width: 190px;
    }

    .volume{
      margin-top: 15px;

      mat-icon {
        top: 8px;
      }

      .mute{
         margin-right: 10px;
      }

      .up{
         margin-left: 15px;
      }

    }
  }
}


mat-tab-group {
  height: 500px;
}

.tablabel{
  margin:1em;
}


.playlist{

    bottom: 65px;
    width: 337px;
    height:465px;
    background: #424242;
    z-index: 100;
    overflow: hidden;

    mat-list{
      width: 305px;
    }
}



.activeClient{
  color:#03DAC6;
}