@import "mixins";

.mat-card{
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 16px;
  padding-top:16px

}

.mat-card-footer{
  @include desktop{
    bottom: 0.4em;
  };

  bottom: 10px;
  position: absolute;
  width: 100%;
  margin-left: 0px;
}

.mat-tab-body-content {
  overflow: unset;
}

.center-vertically{
    align-items: center;
}

.zone{
  // position: relative;
  height: inherit;
  flex-direction: column;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  margin-left: -16px;
  margin-right: -16px;


  @include desktop {
    width: 310px;
    height: 665px;
  }
  margin:10px 5px;

  mat-card-header{
    margin-bottom:0.5em;
    margin-left: 16px;
  }

  .player-content{
      width: 100%;
  }

  mat-card-content{
    display: flex;
    flex: 1;
    margin-bottom: 4em;
  }

  mat-card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  mat-card-actions{
    margin-bottom: 0px;
  }

  .zone-volume-sliders{
    margin-top:20px;
    mat-list-item{
      margin-bottom: 20px;
      div{
        div{
          float:left;
          margin-top:10px;
        }
      }
    }
  }

  .client-list{

    height:400px;

    mat-list-option{
      div{

        justify-content:space-between;
        align-items:center;
        div{

          align-items:center;
          div{
            width: 210px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  .mat-tab-content{
    overflow: unset;
  }

  .footer {
    display: flex;
    margin-left: 0px;
  }


  .footer .action{
    text-align: center;
    div{
      font-size:8px;
    }
  }

  .footer .action.active{
    mat-icon{
      color: #69f0ae;
    }

    div{
      color: #69f0ae;
    }
  }

  .footer.space-around {
    justify-content: space-around;
  }

  .footer.space-between {
    justify-content: space-between;
  }

}


mat-tab-group {
  height: 500px;
}

.tablabel{
  margin:1em;
}

.playlist{
    height: 480px;
    bottom: 65px;
    background: #424242;
    z-index: 100;
    overflow: hidden;
}
