@import "mixins";


.zone-control{
   height: 100%;

    .group-list{
        overflow: auto;

        @include xs-phone-portrait {
          height: 45vh;
        }

        @include xm-phone-portrait{
          height: 48vh;
        }

        @include xl-phone-portrait{
          height: 55vh;
        }

        @include desktop{
          height: 54vh;
        }
    }

    .client-list {

        overflow: auto;

        @include xs-phone-portrait {
          height: 45vh;
        }

        @include xm-phone-portrait{
          height: 48vh;
        }

        @include xl-phone-portrait{
          height: 55vh;
        }

        @include desktop{
          height: 54vh;
        }

      mat-list-option{
        div{
          display:flex;
          justify-content:space-between;
          align-items:center;
          div{
            display:flex;
            align-items:center;
            div{
              width: 210px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
  }
}

mat-icon{
     margin-right: 10px;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
 min-width: 0!important;
 padding: 12px!important;
 margin: 10px!important;
}

