<mat-list-item class="tracklist" >
  <img matListAvatar src="{{cover}}">
     <div [ngClass]="{'isCurrentTrack':isActiveTrack}" class="tracklist-item" matRipple [matRippleRadius]="30" matLine (dblclick)="selectTrack(pTrack, false)">
      <p style="font-weight:bold; font-size:18px;" class="disable-text-select" (dblclick)="selectTrack(pTrack, false)" matLine> {{pTrack.track?pTrack.track.name:pTrack.name}} </p>
      <p>
        <span class="disable-text-select"> {{pTrack.track?pTrack.track.artists[0].name:pTrack.artists[0].name}}  </span>
      </p>
         <!--
      <p matLine>
        <span class="disable-text-select">{{pTrack.track?pTrack.track.album.name:pTrack.album.name}} </span>
      </p>-->
     </div>
  <div>
  <button *ngIf="type == 'searchlist'" class="tracklist-options-menu" mat-icon-button>
    <mat-icon (click)="addToTracklist($event,pTrack)">add</mat-icon>
  </button>
  <button *ngIf="type == 'tracklist'" class="tracklist-options-menu" mat-icon-button>
    <mat-icon (click)="removeTrackFromlist($event,pTrack)">remove</mat-icon>
  </button>
  <!--<mat-menu xPosition="before" #menu="matMenu">
    <button (click)="addToTracklist($event,pTrack)" mat-menu-item>
      <mat-icon>playlist_add</mat-icon>
      <span>Add to Tracklist</span>
    </button>
  </mat-menu>-->
  </div>
  <mat-divider></mat-divider>
</mat-list-item>

