[core]
cache_dir = /var/cache/mopidy
config_dir = /etc/mopidy
data_dir = /var/lib/mopidy

[logging]
config_file = /etc/mopidy/logging.conf
debug_file = /temp/mopidy-debug.log

#[local]
#media_dir = /var/lib/mopidy/media

[m3u]
playlists_dir = /var/lib/mopidy/playlists

[audio]
{% if pipe == "fifo" %}
output = audioresample ! audio/x-raw,rate=48000,channels=2,format=S16LE ! audioconvert ! wavenc ! filesink location=/tmp/stream_{{ stream_id }}.fifo
{% endif %}
{% if pipe == "tcp" %}
output = audioresample ! audioconvert ! audio/x-raw,rate=48000,channels=2,format=S16LE ! wavenc ! tcpclientsink host=127.0.0.1 port={{ tcp_port |int + stream_id |int }}
{% endif %}

#[mpd]
#enabled = true
#hostname = 0.0.0.0
#port= {{ mpd_port }}

[http]
enabled = true
hostname = ::
port= {{ web_port }}
zeroconf = mopidy_{{ stream_id }}
csrf_protection = false
allowed_origins = 0.0.0.0:8080

{% for extension, attributes in hydraplay_config.mopidy.extensions.items() %}
[{{ extension }}]
{% for attribute, value in attributes.items() %}
{{ attribute }}={{ value }}
{%- endfor %}
{%- endfor %}
