[core]
cache_dir = /var/cache/mopidy
config_dir = /etc/mopidy
data_dir = /var/lib/mopidy

[logging]
config_file = /etc/mopidy/logging.conf
debug_file = /var/log/mopidy/mopidy-debug.log

#[local]
#media_dir = /var/lib/mopidy/media

[m3u]
playlists_dir = /var/lib/mopidy/playlists

[audio]
output = audioresample ! audioconvert ! audio/x-raw,rate=48000,channels=2,format=S16LE ! wavenc ! filesink location=/tmp/stream_{{ stream_id }}.fifo

[mpd]
enabled = true
hostname = 0.0.0.0
port= {{ mpd_port }}

[soundcloud]
enabled = false

[spotify]
enabled = {{ hydraplay_config.mopidy.extensions.spotify.enabled }}
username = {{ hydraplay_config.mopidy.extensions.spotify.username }}
password = {{ hydraplay_config.mopidy.extensions.spotify.password }}
client_id = {{  hydraplay_config.mopidy.extensions.spotify.client_id }}
client_secret = {{  hydraplay_config.mopidy.extensions.spotify.client_secret }}

[http]
enabled = true
hostname = ::
port= {{ web_port }}
zeroconf = mopidy_{{ stream_id }}
csrf_protection = false
allowed_origins = 0.0.0.0:8080

[musicbox_webclient]
enabled = true
musicbox = true

[tunein]
enabled = {{ hydraplay_config.mopidy.extensions.tunein.enabled }}
timeout = 5000