<div class="play-lists">
    <mat-tab-group mat-align-tabs="start">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>queue_music</mat-icon>
                <span class="tablabel" [matBadgeHidden]="tracklist?.length == 0" matBadge="{{tracklist?.length}}" matBadgeOverlap="false" matBadgeColor="accent">Tracklist</span>
            </ng-template>

            <mat-list class="track-list">
                <trackItem *ngFor="let pTrack of tracklist trackBy: trackById" type="track-list-item" [group]="group" [pTrack]="pTrack"></trackItem>
            </mat-list>
            <div>
                <button class="track-list-controls" mat-button *ngIf="tracklist?.length > 0" (click)="clearTrackList()" >Clear</button>
            </div>
        </mat-tab>

        <mat-tab class="tab-streams" label="Mopidy">
            <ng-template mat-tab-label>
                <mat-icon>playlist_play</mat-icon>
                <span class="tablabel"  [matBadgeHidden]="playlists?.length == 0" matBadge="{{playlists?.length}}" matBadgeOverlap="false" matBadgeColor="accent">Playlists</span>
            </ng-template>
            <mat-list class="track-list">
                <mat-list-item *ngFor="let playlist of playlists" class="track-item">
                  <p style="font-weight:bold; font-size:18px;" class="disable-text-select"  matLine> {{playlist.name}} </p>
                    <div>
                    <button align="end" [matMenuTriggerFor]="playlistMenu"  class="tracklist-options-menu" mat-icon-button>
                        <mat-icon >more_vert</mat-icon>
                    </button>
                    <mat-menu #playlistMenu="matMenu" xPosition="before">
                      <button mat-menu-item (click)="appendPlaylistToTrackList(playlist.uri)">
                        <mat-icon>playlist_add</mat-icon>
                        <span>Append to Tracklist</span>
                      </button>
                      <button mat-menu-item (click)="loadPlayListAsTrackList(playlist.uri)">
                        <mat-icon>queue_music</mat-icon>
                        <span>Load as Tracklist</span>
                      </button>
                    </mat-menu>
                  </div>
                  <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-tab>
    </mat-tab-group>
</div>