/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:#232323;
}

* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
