

[Unit]
Description=Mopidy_gaestebad
After=network.target sound.target

[Service]
ExecStart=/usr/bin/websockify/websockify 8080 --wrap-mode=respawn 127.0.0.1:1705 --web=/home/pi/hydraplay 

# allow MPD to use real-time priority 50
LimitRTPRIO=50
LimitRTTIME=infinity

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes

[Install]
WantedBy=multi-user.target