<div class="tune-volumes">
    <mat-tab-group mat-align-tabs="start">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>volume_up</mat-icon>
                    <span class="tablabel" matBadgeOverlap="false" matBadgeColor="accent">Volumes</span>
                </ng-template>

            <mat-list *ngFor="let client of group.clients">
                <mat-list-item>
                    <div matLine class="player-crontrols volume-icon volume-controls">
                        <div> {{client.host.name}}</div>
                        <div>
                            <mat-icon class="volume-mute" matRipple [matRippleRadius]="25"
                                      [matRippleCentered]="true" [matRippleUnbounded]="true">volume_mute
                            </mat-icon>
                            <mat-slider (input)="updateClientVolume(client.id, $event)"
                                        [(ngModel)]="client.config.volume.percent" color="primary" [max]="100"
                                        [min]="0" [step]="1"></mat-slider>
                            <mat-icon class="volume-up" matRipple [matRippleRadius]="25" [matRippleCentered]="true"
                                      [matRippleUnbounded]="true">volume_up
                            </mat-icon>
                        </div>
                    </div>

                </mat-list-item>
                 <mat-divider></mat-divider>
            </mat-list>
                <mat-divider></mat-divider>
            </mat-tab>
    </mat-tab-group>
</div>