 .play-list-control {
    height: 480px;
    padding-bottom: 0px;
 }

 ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
 min-width: 0!important;
 padding: 12px!important;
 margin: 10px!important;
}

mat-icon{
     margin-right: 10px;
}

.spinner{
  margin: 30px auto;
}